<template name="song">
  <h1>{{artist}} - {{name}}</h1>
  	<button type="button" class="btn btn-default" id="edit">Edit</button>
  <div id="tabs">
    <pre>
      {{tabs}}
    </pre>
  </div>
</template>

<template name="songEdit">
	<h1>Editing {{artist}} - {{name}}</h1>
	<form class="form-horizontal">    
    <button type="button" id="save-tabs" class="btn btn-default">save</button>
    <input type="text" value="{{artist}}" id="song-artist" class="form-control" />
    <input type="text" value="{{name}}" id="song-name" class="form-control" />
    <textarea id="song-tabs" class="form-control">{{tabs}}</textarea>
  </form>
</template>