<template name="songbook">
  <h1>{{songbook.name}}</h1>
  <table class="table">
  	<tr><th>Artist</th><th>Name</th><th></th></tr>
    {{#each songlist}}
  	<tr>
      <td>{{artist}}</td>
  		<td>{{name}}</td>
  		<td><a href="/song/{{_id}}" >view</a></td>
  	</tr>
  	{{/each}}
    <tr>
      <td><input type="text" name="song-name" id="song-name" placeholder="new song's name" /></td>
      <td><input type="text" name="song-artist" id="song-artist" placeholder="new song's artist"></td>
      <td><button id="new-song">add song</button></td>
    </tr>	
  </table>
</template>